@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Tanul University</h1>
</div>
<div style="text-align:center">
<img src="~/Images/University Photo.jpg" width="800" height="300"/>
</div>
<br />
<div class="row" style="display: flex; justify-content: center;">
    <div class="col-md-4">
        <h2>Welcome to Tanul University</h2>
        <p>
            As a globally recognized institution, we are committed to providing a
            diverse, inclusive, and nurturing environment for our students. Our
            world-class faculty, state-of-the-art facilities, and comprehensive
            academic programs foster intellectual growth and prepare students for
            successful careers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enroll Today!</h2>
        <p>
            At Tanul University, we believe in empowering our students to make a
            difference in the world, and we are dedicated to helping them achieve
            their full potential. Join us and embark on a transformative journey
            of learning and discovery.
        </p>
    </div>
</div>